root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = unset
indent_style = unset
insert_final_newline = true
tab_width = unset
trim_trailing_whitespace = unset

[*.sh]
indent_size = 1
indent_style = tab
tab_width = 4
