[Unit]
Description=NGINX Logger Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nginx-logger.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
